@inherits SeleneseTestRunner.RazorTemplate<SeleneseTestRunner.Tests.TestResult>

<div class="row">
    @if (!string.IsNullOrEmpty(@Model.Name))
    {
        <h2>@Model.Name</h2>
    }
    <h6>@Model.Path</h6>
</div>

@foreach(var commandResult in Model.CommandResults)
{
    @Include("CommandResult", commandResult)
}