@inherits SeleneseTestRunner.RazorTemplate<SeleneseTestRunner.Tests.TestResult>

<div class="row">
    @if (!string.IsNullOrEmpty(@Model.Name))
    {
        <h2>@Model.Name</h2>
    }
    else
    {
        <h2>@Model.Path</h2>
    }
</div>

@foreach(var commandResult in Model.CommandResults)
{
    @Include("CommandResult", commandResult)
}