@inherits SeleneseTestRunner.RazorTemplate<SeleneseTestRunner.Suites.SuiteResult>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>@Model.Name</h1>
        </div>
        @foreach(var testResult in Model.TestResults)
        {
            @Include("TestResult", testResult)
        }
        <div class="row">
            <h6>@DateTime.Now</h6>
        </div>
    </div>

</body>
</html>